<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Error</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container justify-content-center w-50 p-3" style="margin-top: 5em;">
            <div th:if="${error == 'general'}" class="alert alert-danger fill-parent">
                <h1 class="display-5">Oops something went wrong!</h1>
                <span>Our engineers are working on it. Click <a th:href="@{/home}" id="generalError">here</a>
                    to return to home.</span>
            </div>
            <div th:if="${error == 'duplicateNote'}" class="alert alert-danger fill-parent">
                <h1 class="display-5">Duplicate Note!</h1>
                <span>A note with those details already exists!</span>
                <span>Click <a th:href="@{/home}" id="duplicateNoteError">here</a> to continue.</span>
            </div>
            <div th:if="${error == 'notFound'}" class="alert alert-danger fill-parent">
                <h1 class="display-5">Our apologies.</h1>
                <p>This page has gone missing!</p>
                <p>Please go back to the <a th:href="@{/home}" id = "404Link">homepage</a> to continue using
                    Super-Duper-Drive.</p>
            </div>

            <div th:if="${error == 'invalidSignup'}" class="alert alert-danger fill-parent">
                <h1 class="display-5">Signup Error!</h1>
                <p>An error occurred while signing you up</p>
                <p>Please return to the <a th:href="@{/signup}" id = "signupError">signup</a> page</p>
            </div>

            <div th:if="${error == 'noteDescCharLimit'}" class="alert alert-danger fill-parent">
                <h1 class="display-5">Character limit exceeded!</h1>
                <p>Note could not be saved as description exceeds 1000 characters</p>
                <p>Please go back to the <a th:href="@{/home}" id = "nDescCharLimitLink">homepage</a> to continue using
                    SuperDuperDrive.</p>
            </div>

            <div th:if="${error == 'fileSizeError'}" class="alert alert-danger fill-parent">
                <h1 class="display-5">2MB file upload size exceeded!</h1>
                <p>File could not be uploaded. Please select a smaller file</p>
                <p>Please go back to the <a th:href="@{/home}" id = "fileUploadSizeError">homepage</a> to continue using
                    Super-Duper-Drive.</p>
            </div>

        </div>
    </body>
</html>